
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">
        <h2 class="text-center text-primary">Chào mừng tới phần mềm quản lý hoạt động trải nghiệm</h2>
        <h2 class="text-center text-primary">Vui lòng sử dụng các chức năng bên menu tay trái</h2>
    </div>
</div>
